form {
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  margin-bottom: 20px;
}

form label {
  display: block;
  margin-top: 12px;
  font-weight: 600;
}

form input,
form select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
}

table {
  width: 100%;
  background: #fff;
  border-collapse: collapse;
}

table th,
table td {
  padding: 10px;
  border: 1px solid #ddd;
}

table th {
  background: #1e293b;
  color: #fff;
}
