table {
  width: 100%;
  background: #fff;
  border-collapse: collapse;
}

table th,
table td {
  padding: 10px;
  border: 1px solid #ddd;
  font-size: 14px;
}

table th {
  background: #1e293b;
  color: #fff;
}
