form {
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 8px 15px rgba(0,0,0,0.1);
}

form label {
  margin-top: 15px;
  display: block;
  font-weight: 600;
}

form input,
form select,
form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
}

form textarea {
  height: 80px;
  resize: none;
}

input[type="file"] {
  border: 1px solid #ccc;
  padding: 6px;
}
